<?php
$snippet=array();
$snippet['Title'] = stripslashes('Badge');
$snippet['Author'] = stripslashes('Eric Lebetsamer');
$snippet['Description'] = stripslashes('Easily highlight new or unread items by adding a <span class=\"badge\"> to links, Bootstrap navs, and more.');
$snippet['Declarations'][] = array('ID'=>stripslashes('content'),'ToolTip'=>stripslashes('The content for the badge'),'Default'=>stripslashes('1234'));
$snippet['Code'] = stripslashes('<span class=\"badge\">$content$</span>');
