<?php
$snippet=array();
$snippet['Title'] = stripslashes('Radio');
$snippet['Author'] = stripslashes('Eric Lebetsamer');
$snippet['Description'] = stripslashes('A form group that contains a radio.');
$snippet['Declarations'][] = array('ID'=>stripslashes('label'),'ToolTip'=>stripslashes('Text for the label'),'Default'=>stripslashes('My label'));
$snippet['Code'] = stripslashes('<div class=\"radio\">
	<label>
		<input type=\"radio\"> $label$
	</label>
</div>');
