<?php
$snippet=array();
$snippet['Title'] = stripslashes('Label');
$snippet['Author'] = stripslashes('Eric Lebetsamer');
$snippet['Description'] = stripslashes('Easily highlight new or unread items by adding a <span class=\"label label-default\"> to links, Bootstrap navs, and more.');
$snippet['Declarations'][] = array('ID'=>stripslashes('content'),'ToolTip'=>stripslashes('The content for the label'),'Default'=>stripslashes('Label content'));
$snippet['Code'] = stripslashes('
				<span class=\"label label-default\">$content$</span>
			');
