<?php
$snippet=array();
$snippet['Title'] = stripslashes('Pager');
$snippet['Author'] = stripslashes('Eric Lebetsamer');
$snippet['Description'] = stripslashes('Quick previous and next links for simple pagination implementations with light markup and styles. It\'s great for simple sites like blogs or magazines.');
$snippet['Code'] = stripslashes('<ul class=\"pager\">
	<li><a href=\"#\">Previous</a></li>
	<li><a href=\"#\">Next</a></li>
</ul>');
