body {
  background-image: url("../../img/content.jpg");
  background-position: center center;
  //background-repeat: no-repeat;
  background-attachment: fixed;
  //background-size: cover;
  background-color: #464646;
}
#birdland_area{ width:300px; float:left;}
h1#birdland { font-family: 'MyriadPro-Regular';}
h1#birdland a{ clear:both;  font-weight:normal;}
h2#birdland_sub{ font-family: 'MGenJyuuGothicX-P-Normal'; font-size:12px;
color:#FFFFFF; margin:0;
line-height:0;}


.navbar-inner, footer {
	background-color:#161515;
  border: none;
  /*padding: 15px 0;*/
  /*background: url('../img/header-footer.png');*/
}
.navbar .brand-bootbus {
	font-size: 42px;
	cursor: pointer;
	text-shadow: none;
	color: white;
  font-weight: bold;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
	border-top-color: white;
	border-bottom-color: white;
}
.navbar .nav > li > a {
	text-shadow: none;
	color: white;
	font-size: 14px;
  font-weight: bold;
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
         border-radius: 3px;font-family: 'MGenJyuuGothicX-P-Normal';
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
	color: white !important;
	background: #2E3436 !important;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
	background: #2E3436;
}
/* End : Override Bootstrap navigation */

/* Start : Override Bootstrap carousel */
.carousel-control {
  border: none;
}
.left {
  left: 0;
}
.right {
  right: 0 !important;
}
/* End : Override Bootstrap carousel */

/* Start: Bootbusiness specific CSS */
.content {
  padding: 30px 0;
  background: url('../img/content.jpg');
}
.thumbnail img {
  width: 100%;
}
.active-link {
  background-color: #2E3436;
}
.page-header {
  margin: 0 0 30px;
  border-bottom: 1px solid #9E9E9E;
}
.slider {
	border-bottom:  1px solid #9E9E9E;
}
.widget-header {
  border: 1px solid #9E9E9E;
  padding: 20px 5px;
  text-align: center;
  margin: 0;
  border-bottom: 0;
  background-color: #EEEEEC;
  -webkit-border-radius: 5px 5px 0 0;
     -moz-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
}
.widget-body {
  font-size: 16px;
  padding: 30px 0 20px 0;
  border: 1px solid #9E9E9E;
  -webkit-border-radius: 0 0 5px 5px;
     -moz-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
}
.widget-footer {
  padding: 6%;
  background-color: #EEEEEC;
  border-top: 1px solid #161515;
}
.widget-footer p {
  margin: 0;
}
.footer-divider {
  border-top: 0;
  border-bottom: 1px solid #333;
}
hr {
    height: 2px;
    background-color:#555;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}
/* End: Bootbusiness specific CSS */

